*, &::after, &::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  color:       #111;
  font-family: 'Open Sans', sans-serif;
}

header, h1, h2, h3, h4, h5, h6 {
  color:       #111;
  font-family: 'Libre Baskerville', serif;
  line-height: 1;
}

p {
  max-width:   40em;
  line-height: 2;
}

li {
  line-height: 2;
}

#__next {
  height: 100%;
  width:  100%;
}

input[type="email"],
button {
  font-size: 1em;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  padding: 0.25em 1em;
}
